:root {
  --font-family-primary: 'Sawarabi Gothic', sans-serif;

  --color-text: #191919;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-primary);
  font-size: 1.4rem;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button, input, text {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
  font-size: inherit;
}

img {
  -webkit-user-drag: none;
}
