html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
  color: var(--color-text-primary);
  background: var(--color-background-primary);
}

a,
input,
textarea,
button {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}
