html {
  font-size: 62.5%;
}

body {
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-right);
  font-family: sans-serif;
  font-size: 1.4rem;
  color: var(--color-text-primary);
  background: var(--color-background-primary);
  -webkit-font-smoothing: antialiased;
}

a,
input,
textarea,
button {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}
