@import 'resources';

:root {
  /** Margin sizes */
  --margin-base: 8px;
  --margin-half: calc(var(--margin-base) * 1);
  --margin-1x: calc(var(--margin-base) * 1);
  --margin-2x: calc(var(--margin-base) * 2);
  --margin-3x: calc(var(--margin-base) * 3);
  --margin-4x: calc(var(--margin-base) * 4);

  /** Color Palette */
  --color-white: #fff;
  --color-black: #000;
  --color-red: #db2b42;
  --color-blue: #4598ca;
  --color-yellow: #fbf103;

  /* Colors */
  --color-background-primary: #1b1b1b;
  --color-text-primary: #ccc;
  --gradient-background: linear-gradient(to top left, #abbaab, #fff);

  /** Layouts */
  --container-max-width: 1200px;

  /** Components */

  /** Global Header */
  --header-height: 80px;

  @media (--header-small-viewport) {
    --header-height: 64px;
  }

  /** YouTube Thumbnail */
  --thumbnail-aspect-ratio: calc(360 / 480);

  /** Top Hero View */
  --hero-band-width: 320px;
  --hero-band-height: 48px;
  --hero-count-x-thumbnail: 10;
  --hero-count-thumbnail-y: 3;
  --hero-thumbnail-width: 300px;
  --hero-thumbnail-height: calc(var(--hero-thumbnail-width) * var(--thumbnail-aspect-ratio));

  @media (--header-small-viewport) {
    --hero-band-width: calc(32 / 48 * 320px);
    --hero-band-height: 32px;
    --hero-thumbnail-width: 240px;
  }
}
