.hambargerMenu {
  position: fixed;
  right: var(--global-hambarger-menu-position-x);
  bottom: calc(var(--global-hambarger-menu-position-y) + env(safe-area-inset-bottom));
  z-index: var(--z-index-global-hambarger-menu);
  display: none;
  width: var(--global-hambarger-menu-size);
  height: var(--global-hambarger-menu-size);
  background: var(--color-background-primary);
  border: 1px solid #595959;
  border-radius: 50%;

  @media (--small-viewport) {
    display: grid;
    place-items: center;
  }
}

.drawerMenu {
  position: fixed;
  z-index: var(--z-index-global-drawer-menu);
  display: none;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  visibility: hidden;
  background: var(--color-red);
  opacity: 0;

  @media (--small-viewport) {
    display: block;
  }

  &.Visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.12s ease-out-quart;
  }
}
