@keyframes logo-slide-in {
  0% {
    transform: translate3d(0, -8px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.hambargerMenu {
  --color-bars: #aaa;

  position: fixed;
  right: var(--global-hambarger-menu-position-x);
  bottom: calc(var(--global-hambarger-menu-position-y) + env(safe-area-inset-bottom));
  z-index: var(--z-index-global-hambarger-menu);
  display: none;
  width: var(--global-hambarger-menu-size);
  height: var(--global-hambarger-menu-size);
  cursor: pointer;
  background: var(--color-background-primary);
  border: 1px solid #595959;
  border-radius: 50%;

  @media (--small-viewport) {
    display: grid;
    place-items: center;
  }

  & > .bars,
  & > .bars::before,
  & > .bars::after {
    height: 2px;
    background: var(--color-bars);
    transition: background 0.12s ease;
  }

  &:hover > .bars,
  &:hover > .bars::before,
  &:hover > .bars::after {
    background: var(--color-white);
  }

  & > .bars {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
  }

  & > .bars::before,
  & > .bars::after {
    position: absolute;
    left: 50%;
    width: 70%;
    content: '';
    transform: translate(-50%, -50%);
  }

  & > .bars::before {
    top: -8px;
    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;
  }

  & > .bars::after {
    bottom: -10px;
    border-bottom-right-radius: 100vw;
    border-bottom-left-radius: 100vw;
  }
}

.drawerMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-global-drawer-menu);
  box-sizing: border-box;
  display: none;
  padding:
    env(safe-area-inset-top, 0)
    env(safe-area-inset-right, 0)
    env(safe-area-inset-bottom, 0)
    env(safe-area-inset-left, 0);
  visibility: hidden;
  /* background: var(--global-drawer-menu-background); */
  opacity: 0;

  @supports (backdrop-filter: blur(10px)) {
    /* background: var(--global-drawer-menu-background-transparency);
    backdrop-filter: blur(10px); */
  }

  @media (--small-viewport) {
    display: block;
  }

  &.Visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-out-quart;
  }

  & > .header {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 64px;
  }

  & > .header > .logo {
    height: 24px;
    animation: logo-slide-in 3s ease forwards;
  }

  & > .header > .close {
    position: absolute;
    top: 50%;
    right: var(--global-hambarger-menu-position-x);
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;
    transform: translateY(-50%);
  }

  & > .header > .close::before,
  & > .header > .close::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 24px;
    height: 2px;
    content: '';
    background: #aaa;
    transform-origin: center center;
  }

  & > .header > .close::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  & > .header > .close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
