.globalFooter {
  --color-footer-background: #1e1f22;

  box-sizing: border-box;
  width: calc(100% + env(safe-area-inset-right) + env(safe-area-inset-left));
  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  margin-left: calc(env(safe-area-inset-left) * -1);
  background: var(--color-footer-background);

  & > .row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: var(--margin-2x);
    padding-bottom: var(--margin-2x);

    @media (--small-viewport) {
      flex-direction: column;
      padding-top: var(--margin-4x);
      padding-bottom: 0;
    }
  }

  & > .row > .report {
    margin-left: var(--margin-2x);
    font-size: 1.2rem;
    text-decoration: none;

    @media (--small-viewport) {
      margin-bottom: var(--margin-2x);
      margin-left: 0;
    }
  }

  & > .row > .report:hover {
    text-decoration: underline;
  }

  & > .row > .twitter {
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: #aaa;

    @media (--small-viewport) {
      margin-top: var(--margin-2x);
      margin-left: 0;
      font-size: 1rem;
    }
  }

  & > .row > .twitter:hover {
    color: var(--color-blue);
    text-decoration: underline;
  }

  & > .row > .copyright {
    display: block;
    padding: var(--margin-2x) 0;
    font-size: 1.1rem;
    text-align: center;

    @media (--small-viewport) {
      width: 100%;
      margin-top: var(--margin-2x);
      border-top: 1px solid #595959;
    }
  }

  & > .hambargerarea {
    display: none;
    height: var(--global-hambarger-menu-size);
    padding: var(--global-hambarger-menu-position-y) 0;

    @media (--small-viewport) {
      display: block;
    }
  }
}
