.globalFooter {
  --color-footer-background: #1e1f22;

  box-sizing: border-box;
  width: calc(100% + env(safe-area-inset-right) + env(safe-area-inset-left));
  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  margin-left: calc(env(safe-area-inset-left) * -1);
  background: var(--color-footer-background);

  & > .copyright {
    display: block;
    padding: var(--margin-2x) 0;
    font-size: 1.1rem;
    text-align: center;
  }

  & > .hambargerarea {
    display: none;
    height: var(--global-hambarger-menu-size);
    padding: var(--global-hambarger-menu-position-y) 0;

    @media (--small-viewport) {
      display: block;
    }
  }
}
