@font-face {
    font-family: "icons";
    src: url("./icons.ttf?92213a77430b2758d9da63939b18c479") format("truetype"),
url("./icons.woff?92213a77430b2758d9da63939b18c479") format("woff"),
url("./icons.woff2?92213a77430b2758d9da63939b18c479") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-announcement:before {
    content: "\f101";
}
.icon-brand-twitter:before {
    content: "\f102";
}
.icon-brand-youtube:before {
    content: "\f103";
}
