@import '~reset-css';

body {
  font-family: Noto Sans JP, sans-serif;
  background: #eee;
}

a {
  color: inherit;
}

input,
textarea {
  font-family: sans-serif;
}

button {
  font-family: inherit;
}

body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
