.lineStickers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: var(--margin-4x);

  & > .item {
    display: grid;
    grid-template:
      'thumbnail  name        name        name'         auto
      'thumbnail  author      author      author'       auto
      'thumbnail  description description description ' auto
      'thumbnail  .           .           .'            var(--margin-2x)
      'thumbnail  price       .           link'         auto
      /120px      auto        1fr         auto;
  }

  & > .item > .thumbnail {
    grid-area: thumbnail;
    margin-right: var(--margin-2x);
  }

  & > .item > .thumbnail > .image {
    width: 100%;
  }

  & > .item > .name {
    grid-area: name;
    padding-top: var(--margin-2x);
    font-size: 1.6rem;
    color: var(--color-white);
  }

  & > .item > .author {
    grid-area: author;
    margin-top: var(--margin-1x);
  }

  & > .item > .author > .link {
    font-size: 1.2rem;
    line-height: 1.5;
    text-decoration: underline;
  }

  & > .item > .author > .link:hover {
    color: var(--color-blue);
    text-decoration: none;
  }

  & > .item > .description {
    grid-area: description;
    margin-top: var(--margin-2x);
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ccc;
  }

  & > .item > .price {
    grid-area: price;
    align-self: center;
    font-size: 2.2rem;
    color: var(--color-line);
  }

  & > .item > .link {
    position: relative;
    grid-area: link;
    padding: var(--margin-1x) var(--margin-2x);
    overflow: hidden;
    line-height: 1.5;
    color: var(--color-line);
    background: transparent;
    border: 1px solid var(--color-line);
    border-radius: 4px;
    transition: color 0.12s ease;
  }

  & > .item > .link::before {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--color-line);
    transition: transform 0.12s ease;
    transform: scale3d(0, 1, 1);
    transform-origin: top right;
  }

  & > .item > .link:hover {
    color: var(--color-black);
  }

  & > .item > .link:hover::before {
    right: auto;
    left: 0;
    transform: scale3d(1, 1, 1);
    transform-origin: top left;
  }

  & > .item > .link > .text {
    position: relative;
    z-index: var(--z-index-positive);
  }
}
