.baseSelect {
  position: relative;

  & > .field {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  & > .select {
    position: relative;
    z-index: var(--z-index-positive);
    pointer-events: none;
  }
}
