$container-width: 1200px;

@mixin container {
  $side-margin: 16px;

  box-sizing: border-box;
  width: 100%;
  max-width: $container-width + $side-margin * 2;
  padding: 0 $side-margin;
  margin: 0 auto;
}
