.indexPage {
  width: 100%;
}

.pageContainer {
  padding-top: var(--margin-4x);

  & > .heading {
    margin-bottom: var(--margin-2x);
  }

  & > .heading > .image {
    display: block;
    height: 28px;

    @media (--small-viewport) {
      height: 20px;
      margin: 0 auto;
    }
  }
}
