.indexPage {
  width: 100%;
}

.pageContainer {
  padding-top: var(--margin-4x);

  & > .section:not(:first-child) {
    margin-top: var(--margin-6x);
  }

  & > .section > .heading {
    display: flex;
    margin-bottom: var(--margin-4x);
  }

  & > .section > .heading > .image {
    display: block;
    height: 40px;

    @media (--small-viewport) {
      height: 20px;
      margin: 0 auto;
    }
  }

  & > .section > .heading.Right > .image {
    margin-left: auto;
  }

  & > .section > .morebutton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: var(--margin-3x);

    @media (--small-viewport) {
      justify-content: center;
    }
  }
}
