.indexPage {
  width: 100%;
}

.pageContainer {
  padding-top: var(--margin-1x);

  & > .pickup {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--margin-4x);
  }

  & > .pickup > .link {
    position: relative;
    color: var(--color-text-secondary);
    text-decoration: underline;
  }

  & > .pickup > .link:hover {
    color: var(--color-blue);
    text-decoration: none;
  }

  & > .section:not(:first-child) {
    margin-top: var(--margin-6x);
  }

  & > .section > .heading {
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-4x);
  }

  & > .section > .heading > .image {
    display: block;
    padding: var(--margin-1x) var(--margin-2x);
    background: var(--color-yellow);
    border: 3px solid var(--color-black);
  }

  & > .section > .heading.Right > .image {
    margin-left: auto;
  }

  & > .section > .morebutton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: var(--margin-3x);

    @media (--small-viewport) {
      justify-content: center;
    }
  }
}
